@layer settings, elements,  site-layout, components, utilities;

@import './tokens.css' layer(settings);

@layer site-layout {
  /**
   * Top Level Layout
   */
  .dbrp {
    display: flex;
    flex-wrap: wrap;
    min-block-size: 100lvh;
  }

  .dbrp-start {
    flex-basis: 60em;
    flex-grow: 6;
    display: flex;
  }

  .dbrp-end {
    flex-basis: 20em;
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2em;

    padding: 1em;
  }

  /**
  * Start Layout
  */

  .dbrp-main {
    flex-basis: 50em;
    flex-grow: 5;
    min-block-size: 100lvh;
  }

  /**
  * Header & Nav
  */

  .dbrp-header {
    flex-basis: 10em;
    flex-grow: 1;
    background-color: var(--brand-color-orange);
  }

  .dbrp-nav {
    position: sticky;
    top: 0;
    block-size: 100svh;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    padding-block: 1em;

    color: var(--brand-color-brown);
  }

  .dbrp-nav-menu {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }

  .dbrp-logo-container {
    flex-grow: 1;
    writing-mode: vertical-lr;

    container-type: inline-size;
    align-self: center;
    text-align: center;
    inline-size: 100%;
  }

  .dbrp-logo {
    font-size: 8cqi;

    text-transform: uppercase;
    font-weight: 900;

    transform: rotate(180deg);
  }

  /**
  * Horizontal Layout
  */

  .has-root-padding {
    padding-inline: var(--root-padding-inline, 3.75vw);
    padding-block: var(--root-padding-block, 3.75vw);
  }

  /**
  * Vertical Rhythm
  */

  .rhythm > * + * {
    margin-block-start: 1lh;
  }

  .rhythm > :is(h1, h2, h3, h4, h5, h6) + :is(:not(h1, h2, h3, h4, h5, h6)) {
    margin-block-start: 0.5lh;
  }
}

@layer elements {
  body {
    font-size: var(--font-scale);
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
  }

  a {
    color: currentColor;
    text-decoration-color: color-mix(in srgb, currentColor, transparent 60%);
  }

  a:is(:hover, :focus, :active) {
    text-decoration-color: currentColor;
  }

  menu {
    list-style-type: none;
    padding-inline-start: 0;
  }

  button svg {
    pointer-events: none;
  }

  svg :not([fill]) {
    fill: currentColor;
  }

  /**
   * Headings
   */
  :is(h1, h2, h3, h4, h5, h6) {
    line-height: var(--line-height-dynamic);
  }

  h1 {
    font-size: var(--font-size-step-6);
  }

  h2 {
    font-size: var(--font-size-step-5);
  }
}

@layer components {
  /**
   * components/Dialog
   */
  .dbrp-dialog {
    inset-inline-start: auto;
    inset-inline-end: 0;
    inline-size: min(100vw, 24em);
    block-size: 100dvh;
    max-block-size: initial;
    animation: enter-dialog linear 300ms;
    border: none;
    margin: 0;
  }

  @media screen and (prefers-reduced-motion) {
    .dbrp-dialog {
      animation-duration: 1ms;
    }
  }

  @keyframes enter-dialog {
    from {
      transform: translate3d(100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .dbrp-dialog-header {
    text-align: end;
  }

  .dbrp-dialog-content {
  }

  .dbrp-main {
    container-type: inline-size;
  }

  /**
   * Content Grid
   */
  .dbrp-content-grid {
    display: grid;
    grid-template-columns: 3.75cqi 1fr 1fr min(36em, 92.5cqi) 1fr 1fr 3.75cqi;
  }

  .dbrp-content-grid > * {
    grid-column-start: 4;
  }

  .dbrp-content-grid > .has-wide-width {
    grid-column: 2 / 7;
  }

  .dbrp-content-grid > .has-full-width {
    grid-column: 1 / 8;
  }

  .dbrp-content-grid .dbrp-content-grid {
    grid-column: 1 / 8;
    grid-template-columns: subgrid;
  }

  /**
   * Products Grid
   */
  .products-grid {
    display: grid;
    grid-template-columns: 1fr min(32em, 100%) 1fr;
    row-gap: 2lh;
  }

  .products-grid > * {
    grid-column-start: 2;
  }

  .products-grid-item {
    display: grid;
    row-gap: 1rem;
  }

  /**
   * Recommended Products
   */
  .recommended-products {
    container-name: recommendedProducts;
    container-type: inline-size;
  }

  .recommended-products-grid {
    display: grid;
    row-gap: 1em;
  }

  /* 31.5em = (child flex-basis + column-gap) * 1.5 */
  @container recommendedProducts ( width >= 31.5em ) {
    .recommended-products-grid {
      grid-template-columns: 50% 50%;
    }
  }

  .recommended-product {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.5em;
  }

  .recommended-product-start {
    flex-basis: 8em;
    flex-grow: 1;
  }

  .recommended-product-end {
    flex-basis: 12em;
    flex-grow: 1;
  }

  /**
   * Cart
   */
  .cart-line + .cart-line {
    margin-block-start: 1lh;
  }

  .cart-line {
    display: grid;

    grid-template-columns: 4.5em 1fr;
    column-gap: 0.5em;
  }

  .cart-line-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2ch;
  }
  .cart-line-quantity > :nth-child(2) {
    margin-inline-start: auto;
  }

  .cart-line-warning {
    display: block;
  }

  .cart-subtotal {
    display: grid;
    grid-template-columns: 1fr min-content;
  }

  /**
   * Button
   */

  .button {
    padding: 0.25em 0.5em 0.125em 0.5em;
    background: none;
    border: solid 0.0625em currentColor;
    border-width: 0.0625em 0.125em 0.125em 0.0625em;
    border-radius: 0.125lh;
    &:hover {
      box-shadow: -0.0625em -0.0625em 0.375em -0.25em currentColor inset;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  .button:any-link {
    cursor: pointer;
  }

  .button:disabled {
    opacity: 0.3;
  }

  .button.is-transparent {
    border-color: transparent;
    box-shadow: none;
  }

  .button.is-icon {
    padding: 0;
  }

  button svg {
    pointer-events: none;
  }

  .button.is-primary {
    color: var(--color-fg-secondary);
    background-color: var(--color-bg-max);

    &:hover {
      color: var(--color-fg-max);
    }
  }

  /**
   * Product Options
   */
  .product-options-grid > * + * {
    margin-inline-start: 2ch;
  }

  /* .product-options-item {} */

  .product-options-item.is-selected {
    color: var(--color-fg-max);
    background-color: var(--color-bg-max);
  }

  .product-options-item.is-selectable {
    color: var(--color-fg-secondary);
    &:hover,
    &:focus-visible {
      color: var(--color-fg-max);
    }
  }

  .product-options-item.is-unavailable {
    opacity: 0.3;
  }

  /**
   * Page Title
   */
  .dbrp-page-title {
    border-bottom: 1px solid var(--color-border);
    font-size: calc(1rem + 8cqi);
  }
}

@layer utilities {
  .text-decoration-line-none {
    text-decoration-line: none;
  }

  /**
   * Size
   */

  .size-square-1 {
    inline-size: 2em;
    block-size: 2em;
  }

  /**
   * Color Scheme
   */

  .color-scheme {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }

  .color-scheme-light {
    color-scheme: light only;
  }

  .color-scheme-dark {
    color-scheme: dark only;
  }

  /**
   * Horizontal Layout
   */
  .has-root-padding {
    padding-inline: var(--root-padding-inline, 3.75vw);
    padding-block: var(--root-padding-block, 3.75vw);
  }

  .has-root-padding-block {
    padding-block: var(--root-padding-block, 3.75vw);
  }

  /**
   * Vertical Rhythm
   */
  .rhythm > * + * {
    margin-block-start: 1lh;
  }

  .rhythm > :is(h1, h2, h3, h4, h5, h6) + :is(:not(h1, h2, h3, h4, h5, h6)) {
    margin-block-start: 0.5lh;
  }
}
