@layer reset {
	*, *::before, *::after {
		box-sizing: inherit;
	}
	
	html {
		box-sizing: border-box;
	}
	
	:where(*) {
		margin: 0;
	}
	
	:where(img, svg) {
		vertical-align: middle;
		/* Shopify uses width and I can't turn it off */
		height: auto;
	}
	
	figure :where(img, video, iframe) {
		max-inline-size: 100%;
		block-size: auto;
	}
	
	button, input, textarea, select {
		font: inherit;
		color: inherit;
	}
}
